body, .content-bg {
    background: image-url('Background/2.jpg', false, false) no-repeat #ffffff; // 2 oder 4
}

.site {
    position: relative;

}

.content-bg {

    /* Unschärfen Funktion*/
    filter: $site-blur;
    -webkit-filter: $site-blur;
    -moz-filter: $site-blur;
    filter: image-url('Background/blur.svg#blur', false, false); /* for Firefox */

    /* Passe die Höhe des Unscharfen BG dem Scharfen Background an */
    background-position: center 0px;

    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;

    width: $site-width;
    min-height: $site-min-height;
    margin: auto;
}

.site-container {
    -webkit-box-shadow: $site-contain-shadow;
    -moz-box-shadow: $site-contain-shadow;
    box-shadow: $site-contain-shadow;

    /* Put this on top of the blurred layer */
    position: relative;
    z-index: 2;
    background: rgb(255,255,255); /* for IE */
    background: rgba(255,255,255,0.75); /* Grau: 34,34,34 */

    width: $site-width;
    min-height: $site-min-height;
    margin: auto;
}

header {
    background: aqua;
    width: 100%;
    height: 50px;
    font-size: 20px;

    .logo {
        float: left;
        width: 20%;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    nav {
        width: 80%;
        float: left;

        ul.registration {
            float: right;
        }

        li {
            float: left;
            padding: 15px 15px 15px 15px;
        }
        
        li:hover {
            background: #00d1d1;
        }
    }
}