// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

$base-font-color: #000000;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;



// Site-Settings
$site-width: 1164px;
$site-min-height: 900px;
$site-blur: blur(4px);
$site-contain-shadow: 4px 4px 30px #d1d4d6;